{
  "importOrderParserPlugins": ["jsx", "typescript", "classProperties"],
  "importOrder": [
    "^[^.@]",
    "^@[^/]",
    "^@/common",
    "^@/components",
    "^@/demos",
    "^@/",
    "^\\.\\.",
    "^\\.",
    "\\.css$"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "arrowParens": "avoid",
  "importOrderSeparation": true,
  "quoteProps": "preserve",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all"
}
