@import 'src/styles/sass.scss';

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;

  @include laptop-down {
    font-size: 10px;
    margin: 0;
  }
}
