$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-latop: 1024px;

@mixin mobile-down {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptop-down {
  @media (max-width: $breakpoint-latop) {
    @content;
  }
}

@mixin laptop-up {
  @media (min-width: $breakpoint-latop) {
    @content;
  }
}
